/* globals.css or index.css */

/* Root element styling */
#root {
  @apply max-w-7xl mx-auto p-8 text-center;
}

/* Logo styling */
.logo {
  @apply h-24 p-6 transition-all duration-300;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Animation for logo spin */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Card styling */
.card {
  @apply p-8;
}

/* Styling for the read-the-docs class */
.read-the-docs {
  @apply text-gray-500;
}
.tech-icon{
  padding:20px;
}